/* css styles */

h1 {
   text-shadow: 5px 1px 5px rgb(235,104,100);
}

h2 {
  color: grey;
}

header {
  position: fixed;
}

.jul {
  border: solid 5px rgba(235,104,100,0.98);
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.98);
  width: 100%;
  margin: 20px 0px;
  display: inline-block;
}

#jul2 {
  background-color: white;
  width: 100%;
}

body{
  background-image: url('logo.jpg');
}